*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2,2,2);
    height: 100vh;
    width: 100vw;
}

.chaos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.input-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    background-color: rgb(24, 22, 22);
    height: 95vh;
    width: 25vw;
    border-radius: 1rem;
}

.input-image-container{
    height: 75%;
    width: 60%;
    border: 2px solid rgb(255, 251, 251);
    border-style: dashed;
    border-radius: 1rem;
}

.upload-btn{
    width: 50%;
    height: 7%;
    border: 1px solid white;
    border-radius: 1rem;
}

.output-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    background-color: rgb(24, 22, 22);
    height: 95vh;
    width: 71vw;
    border-radius: 1rem;
}

.playground{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 55%;
    border: 1px solid white;
}

.generated-img{
    width: 90%;
    height: 90%;
    border: 1px solid white;
}

.additional-prompt{
    width: 80%;
    height: 13%;
    border: 1px solid white;
}

.generate-btn{
    width: 15%;
    height: 7%;
    border: 1px solid white;
    border-radius: 1rem;
}